@if (routerLink) {
  <a
    [routerLink]="disabled ? null : routerLink"
    [class]="getBaseClasses() + ' ' + extraClass"
    [attr.aria-disabled]="disabled ? true : null"
    [attr.tabindex]="disabled ? -1 : null"
    (click)="disabled && $event.preventDefault()"
  >
    <ng-content></ng-content>
  </a>
} @else if (href) {
  <a
    [href]="disabled ? null : href"
    [class]="getBaseClasses() + ' ' + extraClass"
    [attr.aria-disabled]="disabled ? true : null"
    [attr.tabindex]="disabled ? -1 : null"
    (click)="disabled && $event.preventDefault()"
  >
    <ng-content></ng-content>
  </a>
} @else if (variant === 'chip') {
  <button
    [type]="type"
    [class]="getChipClasses() + ' ' + extraClass"
    [disabled]="disabled"
    [attr.aria-pressed]="active"
    (click)="onClick()"
  >
    <ng-content></ng-content>
  </button>
} @else {
  <button
    [type]="type"
    [class]="getBaseClasses() + ' ' + extraClass"
    [disabled]="disabled || isLoading()"
    [attr.aria-busy]="isLoading() ? true : null"
    (click)="onClick()"
  >
    <ng-content></ng-content>
  </button>
}
