# Proyecto
PROJECT_NAME=piedrazul

# Base de datos
DB_HOST=localhost
DB_PORT=5432
DB_NAME=app_db
DB_USER=piedrazul
DB_PASSWORD=piedrazul
DB_SCHEMA=piedrazul

# JPA
JPA_DDL_AUTO=update
JPA_SHOW_SQL=true
JPA_FORMAT_SQL=true

# Servidor
SERVER_PORT=8080

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:4200

# Keycloak DB
KC_DB_USERNAME=keycloak_user
KC_DB_PASSWORD=keycloak_pass
KC_DB_SCHEMA=keycloak

# Keycloak Admin
KC_ADMIN_USER=admin
KC_ADMIN_PASSWORD=admin

# Keycloak
KC_PORT=8180
KC_REALM=piedrazul
KC_ISSUER_URI=http://localhost:${KC_PORT}/realms/${KC_REALM}

# Keycloak clientes
KC_FRONTEND_CLIENT_ID=piedrazul-frontend
KC_BACKEND_CLIENT_ID=piedrazul-backend
KC_BACKEND_CLIENT_SECRET=28cxKvXW2kUGZy3Qju2CsQCLEvJtYzPh

# Solo producción
KC_HOSTNAME=                         # dominio real de Keycloak en prod
KC_PUBLIC_DOMAIN=                    # dominio público de Keycloak
API_PUBLIC_DOMAIN=                   # dominio real del backend en prod

# GitHub Container Registry (prod)
GITHUB_OWNER=                        # usuario u organización de GitHub
GITHUB_REPO=                         # nombre del repositorio
IMAGE_TAG=latest

