@if (pagination() && pagination()!.totalPages > 1) {
  <div class="flex items-center justify-center gap-2 mt-2 mb-2">
    <p class="text-center text-sm text-gray-600">
      Página {{ pagination()!.pageNumber + 1 }} de
      {{ pagination()!.totalPages }}
    </p>
    <button
      type="button"
      (click)="goToPrevious()"
      [disabled]="pagination()!.first"
      class="w-9 h-9 flex items-center justify-center rounded-lg text-[#215c98] disabled:opacity-40 disabled:cursor-not-allowed enabled:hover:bg-[#ddefff] transition-colors cursor-pointer"
      aria-label="Página anterior"
    >
      <svg lucideChevronLeft [size]="18"></svg>
    </button>

    <button
      type="button"
      (click)="goToNext()"
      [disabled]="pagination()!.last"
      class="w-9 h-9 flex items-center justify-center rounded-lg text-[#215c98] disabled:opacity-40 disabled:cursor-not-allowed enabled:hover:bg-[#ddefff] transition-colors cursor-pointer"
      aria-label="Página siguiente"
    >
      <svg lucideChevronRight [size]="18"></svg>
    </button>
  </div>
}
