[defaults]
inventory              = inventories/prod
roles_path             = roles
collections_path       = collections
remote_user            = ansible
stdout_callback        = ansible.builtin.default
callback_result_format = yaml
bin_ansible_callbacks  = True

[privilege_escalation]
become                 = True
become_method          = sudo
become_user            = root

[ssh_connection]
pipelining             = True
ssh_args               = -o ControlMaster=auto -o ControlPersist=60s
