<div class="h-screen bg-blue-50 px-8 py-4">
  <div>
    <div class="mb-2">
      <app-button variant="plain" (buttonClick)="goBack()">
        <svg lucideArrowLeft [size]="20"></svg>Volver
      </app-button>
      <h1 class="text-[#215c98] text-xl font-bold mt-2">Nueva Cita</h1>
      <p class="text-gray-500 text-2sm">Agende una cita médica</p>
    </div>

    <app-appointment-booking
      context="patient"
      [patientData]="patientSnapshot()"
      [isNewPatient]="isNewPatient()"
      (goBack)="goBack()"
    ></app-appointment-booking>
  </div>
</div>
