<div class="h-screen bg-blue-50 px-8 py-2">
  <div>
    <div class="items-center mb-2 gap-4">
      <app-button variant="plain" (buttonClick)="goToDashboard()">
        <svg lucideArrowLeft [size]="20"></svg> Volver
      </app-button>

      <div>
        <h1 class="text-[#215c98] text-xl font-bold">Nueva Cita</h1>
        @if (patientDocument()) {
          <p class="text-gray-500 text-2sm">
            Agendando cita para el paciente con documento
            <span class="font-semibold text-[#215c98]">{{
              patientDocument()
            }}</span>
          </p>
        } @else {
          <p class="text-gray-500 text-lg mt-1">
            Registre una cita para un paciente
          </p>
        }
      </div>
    </div>

    <app-appointment-booking
      context="doctor"
      [documentNumber]="patientDocument()"
      [prefillSpecialty]="prefillSpecialty()"
      [prefillDoctorId]="prefillDoctorId()"
      (goBack)="goToDashboard()"
    ></app-appointment-booking>
  </div>
</div>
